.container {
  display: inline-block;
  background-color: #fff;
  padding: 52px 44px;
  border-radius: 12px;
  max-width: 1000px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 2;
  gap: 150px;
}
.p {
  color: rgb(84, 82, 82);
  font-size: 20px;
}
.button {
  background-color: var(--color-main);
  border: 0;
  color: #fff;
  width: 50px;
  aspect-ratio: 1;
  font-size: 32px;
  border-radius: 50%;
  cursor: pointer;
}
