@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Kumbh+Sans:wght@100..900&family=Shadows+Into+Light&display=swap");
:root {
  --color-main: #700b38;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Dosis, sans-serif;
  background: radial-gradient(
    circle,
    rgba(112, 11, 56, 1) 6%,
    rgba(72, 84, 97, 1) 100%
  );
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
